*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
:root{
    --blue:#3161E0;
    --gray:#F6F6F6;
    --lightblak:#23272A;

}
/* utils */
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.inline-block{
    display: inline-block;
}
.container{
    width: 1080px;
    margin: 0 auto;
}

.bg-color{
    background-color: var(--gray);
}

/* header-section-style */
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--blue);
    min-height: 450px;
    min-width: 100%;
}

.d-logo{
    background-color: black;
    max-height: 50px;
    width: 300px;
    border: 1px solid #F6F6F6;
}

.nav{
    background-color: black;
    max-height: 50px;
    width: 300px;
    border: 1px solid #F6F6F6;
}

.push{
    border: 1px solid #F6F6F6;
    background-color: black;
    max-height: 50px;
    width: 300px;
}

.mid-head{
    background-color: navy;
    min-height: 100px;
    width: 1080px;
}

/* main */
.group-section{
    margin-top: 50px;
    
    background-color: #fff;
    
}
.chat-section{
margin-top: 50px;
}

.fandom-section{
margin-top: 50px;
}
.left-side{
    height: 100px;
    width: 50%;
    background-color: aqua;
    display: inline-block;
}
.right-side{
    height: 100px;
    width: 50%;
    background-color: burlywood;
    display: inline-block;
}

.titolo{
    height: 50px;
    background-color: navy;
}
.descrizione{
    height: 50px;
    background-color: yellow;
}

.immagine{
    height: 200px;
    background-color: green;
}
